.heading{
    color: #0ef;
    text-shadow: 0 0 40px #0ef;
}
.para-heading{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 30px rgb(255, 255, 255);
}
.para-strong-line{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 25px rgb(255, 255, 255);
}
.para-strong-word{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(255, 255, 255);
}
.para-strong-word-language{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 25px #0ef;
}
.para-strong-word-backend{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 25px #8e44ad;
}
.para-strong-word-db{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 25px #2ecc71;
}
.para-strong-word-dsa{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 25px #3498db;
}
.para-strong-word-libraries{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 25px #f39c12;
}
.para-strong-word-tools{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 25px #e74c3c;
}